#wrap{
    width: 960px;
    margin: 0px auto;
}

#sidenavi{
    float: left;
    width: 198px;
    margin: 0px auto;
}

#contents{
    float: left;
    width: 748px;
    margin: 0px auto;
}

footer{
    clear: both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
    font-size: 1.5em;
}

.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.wrapper > div {
  display: table-cell;
  vertical-align: top;
}

.contents {
  width: 800px;
  background: #F1FAEE;
}
.sidenavi {
  width: 300px;
  background: #457B9D;
}
