#wrap{
    width: 960px;
    margin: 0px auto;
}

#sidenavi{
    float: left;
    width: 198px;
    margin: 10px 10px 10px 0px;
}

#contents{
    float: left;
    width: 748px;
    margin: 10px 0px 10px 0px;
}

footer{
    clear: both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
    font-size: 1.5em;
}